.recipe-container {
  
  
  
}

.recipe-child {
  margin-top: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
}

.recipe-image {
  display: block;
  width: 540px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
