.navbar {

  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  max-width: 1000px;
  margin: 0 auto;
}

.nav-brand {
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;

  color: black; 
  font-size: 40px; 
  font-weight: 450; 
}

.nav-brand:hover {
  text-decoration: none; 
}

.nav-brand:active {
  color: salmon; 
}

.navbar ul {
  list-style-type: none; 
  overflow: hidden; 

  text-align: center; 
  text-transform: uppercase;
}

.navbar li {
  display: inline-block; 
}

.nav-item a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px; 
  display: inline-block;
  text-align: center; 
  padding: 13px 20px; 
  min-width: 75px; 
}

.nav-item:hover a {
  text-decoration: none; 
  color: salmon; 
}

.nav-item a.active {
  font-weight: bold; 
}