.App {
  display: grid;

  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1000px;
  
  margin: 0 auto;
  /* background-color: dodgerblue; */
}

.rounded {
  border-radius: 30px;
}

/* BUTTONS */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: var(--white);
  background-color: var(--primary-1);
}

/* Pages */
.home-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  grid-gap: 20px;
  padding-top: 40px;
}

@media (max-width: 700px) {
  .home-layout,
  .about-layout,
  .products-grid,
  .product-details-layout {
    grid-template-columns: 1fr;
  }
  .home-image {
    order: -1;
  }
}

/* Loader */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/*Recipe Layout*/

.recipe-layout {
}

.recipe-ingredient {
  float: left;
  width: 40%;
}

.recipe-summary {
  width: 900px;
  margin: 0 auto;
}

.recipe-ingredients {
  width: 500px;
  margin: 0 auto;
}

.recipe-instructions {
  width: 700px;
  margin: 0 auto;
}

.recipe-steps {
  width: 60%;
  float: right;
}

.recipe-title {
  white-space: pre-wrap;
  text-align: center;
}

.recipe-image {
  display: block;
  width: 540px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.nutrition-label {
  display: flex; 
  justify-content: center;
}

.back-button {
  display: inline-block;
  z-index: -1;
}

.search-container {
  height: 90vh;
}

/* Tabs */
.tabs {
  margin: 0 0 20px 0;
  border-bottom: var(--neutral-4) solid 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  font-weight: normal;
  text-decoration: none;
  padding-bottom: 1px;
  color: var(--black);
  padding-left: 50px;
  padding-right: 50px;
}
.tabs .tab-active {
  border-bottom: 5px solid salmon;
}
